body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(194,238,255,1) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed{
  text-decoration: line-through;
}


.images{
  height: 33px;
}

.addImage{
  height: 25px;
}

.fontstyle{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px 
}

.fontstyle2{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px 
}

.buttonFont{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 25px;
  color: black
  
}

.container1{
  border: 2px solid gray;
  border-radius: 5px;
  padding: 30px;
  background-color: #7abaff;
  width: 50%;
  margin: 0 auto;
  
  
}

@media (max-width: 1024px) {
  .container1{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 30px;
    background-color: #7abaff;
    width: 90%;
    margin: 0 auto;
    
    
  }
}